*{
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f1f1f1;
}

  /* ++++++++++++++++++++++ image-header-style ++++++++++++++++++++++ */

.head {
  background-image: url("../img/georges-boutros-319388-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 1401px;
  height: 540px;
}
.head h1 {
  padding: 10rem 0rem 0rem 4rem;
  width: 400px; 
  color: #f1f1f1;
  font-size: 60px;
}
.head p {
  color: #f1f1f1;
  margin: 1rem 0rem 1rem 4rem;
  font-size: 24px;
}
.head button {
  margin: 0rem 0rem 0rem 4rem;
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 4px;
  color: #f1f1f1;
  background-color: rgba(39, 105, 180, 0.925);
}
.head button:hover {
  background-color: rgba(31, 81, 138, 0.925);
  cursor: pointer;
  color: #fff;
}
#trans {
  margin: 0 0 0 1rem;
  padding: 1rem 1.3rem;
  border: none;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0);
  outline: 1px solid #f1f1f1;
}
#trans:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.356);
  cursor: pointer;
}


  /* ++++++++++++++++++++++++++ nav-bar +++++++++++++++++++++++++++ */

.nav {
  background-color: rgb(32, 33, 51);
  height: 75px;
  color: #f1f1f1;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.nav-list {
  margin-left: 5rem;
  display: inline-block;
}
.nav li {
  margin-top: 28px;
  display: inline-block;
}

#brand {
  padding: 0px;
  margin: 0rem;
}
#brand span {
  font-weight: bolder;
}
#brand a span i {
font-size: 20px;
font-weight: 100;
}
.lgn-btn {
  float: right;
  margin-right: 5rem;
}
.nav-item li a {
  padding: 25px;
  color: #f1f1f1;
  text-decoration: none;
}
.nav-item li a:hover {
  background-color: rgb(13, 10, 22);
  color: #fff;
}
/* ++++++++++++++++++++++++++++++ article-body ++++++++++++++++++++++++++++++ */

.article-body {
  width: 90%;
  margin: 0 auto;  
  padding-top: 2rem;
}
.article-body h1 {
  font-weight: 400;
  font-size: 40px;
}
.article-meta {
  margin-top: 2rem;
  height: 100px;
}
.author {
  margin: 0rem 0rem 0rem 0rem;
  background-image: url('../img/joker.jpg');
  height: 50px;
  width: 50px;
  border-radius: 25px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -28px 0px;
  float: left;
  
}
.det-author {
  padding: 10px 0px 0px  60px;
  width: 150px;
}
.det-author span {
  display: block;
}
.article-body img {
  width: 100%;
  margin-bottom: 2rem;
}
.main {
  display: block;
  width: 70%;
  margin: 2rem 2rem 2rem 3rem;
  line-height: 1.5;
  padding-bottom: 2rem; 
  font-size: 20px;
}
 


  /* ++++++++++++++++++++++++++++ card-style +++++++++++++++++++++++++++++++ */
.card-container {
  margin-left: 8rem;
  margin-top: 4rem;
  margin-right: 8rem;
  border-radius: 5px; 
  box-shadow: 0px 0px 7px rgb(223, 223, 223), 0px 0px 7px rgb(223, 223, 223);
  padding: 3rem;
  background-color: #fff;
}
.card-container h1 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 1rem;
}
.card-center {
  width: auto;
  margin: 0 auto;
}
.card {
  margin-left: 2.3rem;
  height: 350px;
  width: 280px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px rgb(223, 223, 223), 0px 0px 3px 1px rgb(223, 223, 223);
  background-color: #fff;
  display: inline-block;
}
.card img {
  width: 280px;
}
.card-ctn h3{
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: justify;
  color: #444;
  font-family: 'Source Sans Pro', sans-serif;
}
.card-ctn p {
  margin-top: 3px;
  margin-left: 35px;
  color: rgb(206, 39, 39);
  text-align: justify;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
.post-meta {
  margin-top: 40px;
  margin-left: 35px;
  font-size: 11px;
  color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
}
.post-meta span {
  margin-right: 10px;
}

  /* +++++++++++++++++++++++++++++++ article-list ++++++++++++++++++++++++++++++ */
.article-container {
  margin-left: 8rem;
  margin-top: 2rem;
  margin-right: 8rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgb(223, 223, 223), 0px 0px 7px rgb(223, 223, 223);
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
.article-item {
  padding: 3rem;
  margin: 0 auto;
  width: 80%;
}
.article-prev {
  float: left;
  width: 60%;
}
.article-prev p {
  margin-top: 1rem;
  line-height: 20px;    
}
.article-prev a {
  text-decoration: none;
  color: #333;
}
.article-prev h2 a:hover {
  color: #666;
}
.article-img {
  margin-left: 3rem; 
  display: inline;
}
.article-img img {
  width: 300px;
}
.article-meta {
  margin-right: 1rem;
  color: #777;
  font-size: 12px;
}
.comment {
  float: right;
}

  /* +++++++++++++++++++++++++++++ footer-style +++++++++++++++++++++++++++++ */
footer {
  /* padding-top: 1rem;  */
  height: 200px;
  background-color: rgb(39, 39, 39);
}
.footer-container { width: 100%; }
.footer-item {
  float: left;
  margin-left: 13rem;
}
.newsletter {
  float: right;
  margin-right: 13rem;
}
.footer-info { 
  margin-right: 5rem;
  display: inline-block;
}
.footer-info ul li a:hover {
  color: #eee;
}
.footer-item ul, .footer-item h3 {
  padding-top: 1.5rem;

}
.footer-item h3, .footer-item ul li, .footer-item ul li a{
  list-style: none;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #8a8a8a;
}
.footer-item p {
  color: #8a8a8a;
  font-size: 13px;
  margin-top: 1rem;
}
.footer-item input{
  margin-top: 1rem;
  width: 250px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 36px;
}
.footer-item button {
  border:none;
  border-radius: 3px;
  padding:10px;
}
.footer-item button:hover {
  background-color: #aaa;
  cursor: pointer;
}
.footer-item ul li {padding-bottom: 10px; }
.copy { 
  display: block;   
  background-color: rgb(39, 39, 39);
  color: #8a8a8a;
  padding-bottom: 2rem;
  font-size: 12px;
  text-align: center;
}
#name {
  color: #f1f1f1;
  font-size: 12px;
}
/* +++++++++++++++++++++++++ Login page +++++++++++++++++++++++++ */

.lgn-container {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}
.lgn-container img {
  width: 70%;
  overflow: hidden;
  position: fixed;
  display: inline-block;
}
.form-container {
  margin-left: 70%;
  width: 30%;
  overflow: auto;
  position: fixed;
  height: 100%;
  background-color: #f1f1f1;
  display: inline-block;
}
.form-body {
  width: 80%;
  margin: 0 auto;
  margin-top: 3.5rem;
  height: 500px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 7px rgb(223, 223, 223), 0px 0px 7px rgb(223, 223, 223);
  text-align: center;
}
.form-body h1, .form-body h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 100;
  text-align: center;
}
.form-body input[type=text], input[type=password] {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 70%;
  height: 34px;
  text-align: center;
  font-size: 18px;
  color: #444;
  outline: none;
}
.form-body input::placeholder {
  color: #aaa;
}
.form-body button {
  width: 70%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ccc;
  background-color: rgb(36, 38, 77);
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.form-body button:hover {
  background-color: rgb(31, 33, 61);
  color: #eee;
  cursor: pointer;
}
.form-body input[type=checkbox] {
  display: inline-block;
}
.form-body span, span a {
  font-size: 13px;
  color: #666;
  text-decoration: none;
}
.form-body span a:hover {
  color: rgb(148, 66, 66);
}
#home {
  margin-top: 1rem;
  display: block;
}

  /* ++++++++++++++++++++++++++++ Admin-dash +++++++++++++++++++++++++++ */
  /* ++++++++++++++++++++++++++++ Admin Side Navigation ++++++++++++++++++++++++++++ */
.adm-sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  position: fixed;
  width: 18%;
  background-color: #fff;
  overflow: auto;
  display: inline-block;
  box-shadow: 1px 0px 5px #999;
}
.adm-sidebar h1 {
  margin-top: 10px;
  padding-bottom: 12px; 
  text-align: center;
  font-weight: 100;
}
.active {
  font-weight: bolder;
  background-color: #ddd;
}
.menu ul {
  margin-top: 1rem;
}
.menu ul li {
  padding: 1rem 2rem;
}
.menu ul li:hover {
  background-color: #eee;
}
.menu ul li a {
  font-size: 14px;  
  text-decoration: none;
  color: #313131;
}
  /* ++++++++++++++++++++++++++++ Admin Top Navigation ++++++++++++++++++++++++++++ */
.adm-top-nav {
  width: 82%;
  margin-left: 18%;
  height: 60px;
  background-color: rgb(19, 16, 36);
  display: inline-block;
}
.top-nav-item form, .nav-prof  {
  color: #f1f1f1;
  float: right;
}
.nav-prof {
  height: 60px;
  padding-left: 10px; 
}
.nav-prof span {
  background-color: #333;
}
.nav-prof span img {
  margin-top: 8px;
  width: 40px;
  float: right;
}
.nav-prof span a {
  float: right;
  color: #f1f1f1;
  margin-left: 5px;
  margin-top: 20px;
  margin-right: 1rem;
  font-size: 16px;
  font-weight: bold; 
}
.nav-prof:hover {
  cursor: pointer;
  background-color: rgb(11, 7, 31);
}
.search-box {
  border-radius: 0.9rem;
  margin-top: 15px;
  margin-right: 1rem;
  padding: 0 1rem;
  background-color: #ddd;
}
.search-box input[type=text] {
  border: none;
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  height:1.8rem;
  background-color: #ddd;
  outline: none;
  width: 130px;
  transition: 1s;
}
.search-box input[type=text]:focus {
  width: 200px;
}
.search-box button {
  border: none;
}
.search-box button:hover {
  cursor: pointer;
}

  /* +++++++++++++++++++++++++++ Admin-content +++++++++++++++++++++++++++ */

.adm-content {
  margin-top: 0px;
  margin-left: 18%;
  height: 100%;
  /* width: 95%; */
  position: auto;
  z-index: -1;
  background-color: rgb(233, 234, 255);  
}
.adm-header {
  display: block;
  width: 97.2%;
  padding: 15px;
  background-color: #fff;
}
.adm-header h3 {
  font-weight: 100;
}
.col-container {
  width: 70%;
  display: table;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.col {
  padding: 2rem 1rem;
  width: 300px;
  display: table-cell;
  background-color: #fff;
  border-right: 1rem solid #eee; 
}
.col span {
  display: inline-block;
  margin-top: 1rem;
  font-size: 20px;
}
.col:nth-child(1) span {
  color: red; 
}
.col:nth-child(2) span {
  color: green; 
}
.col:nth-child(3) span {
  color: blue; 
}
.table-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 1rem 1rem 1.4rem;
  display: block; 
  background-color: #fff;
}
.table-container h3 {
  padding: 0rem 0rem 2rem 1rem;
  font-weight: 100;
  float: left;
}
.table-container a button {
  margin: 0rem 0rem 1rem 2rem;
  padding: 10px 15px;
  background-color: #2ecc71;
  border: none;
  color: #fff;
}
.table-container a button:hover {
  cursor: pointer;
  background-color: #27ae60;
}
.table {
  width: 90%;
  margin: 1rem 0rem 1rem 3rem;
  border-collapse: collapse;
}
.table tr td {
  text-align: left;
  color: #000;
  border-bottom: 1px solid #aaa;
  padding: 10px 10px;
}
.table tr:nth-child(1) td {
  padding: 15px 10px;
  font-weight: bold;
  text-align: left;
  color: #f1f1f1;
  background-color: rgb(27, 21, 36);
}
.table tr td:nth-child(1) {
  width: 40px;
}
.table tr td:nth-child(2) {
  width: 100px;
}
.table tr td:nth-child(3) {
  width: 100px;
}
.table tr td:nth-child(4) {
  width: 300px;
}
.table tr td:nth-child(4) p {
  height: 15px;
  width: 300x;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table tr:nth-child(even) {
  background-color: #f1f1f1;
  color: #000;
}
.btn-del {
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 10px;
  color: #f1f1f1;
  background-color: #e74c3c;
  font-weight: bold;
}
.btn-del:hover {
  background-color: #c0392b;
  cursor: pointer;
}
.btn-update {
  border: none; 
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #3498db;
  color: #f1f1f1;
  font-weight: bold;
}
.btn-update:hover {
  background-color: #2980b9;
  cursor: pointer;
}

/* ++++++++++++++++++++++++++++++++++ New Post  ++++++++++++++++++++++++++++++++++ */

.new-container {
  width: 96.2%;
  overflow: clip;
  margin: 2rem 0rem 1rem 1.3rem;
  background-color: #fff;
}
.add-container {
  display: inline-block;
  width: 60%;
  padding-bottom: 2rem; 
}
.new-container h1 {
  font-weight: 200;
  padding: 1rem 0;
  margin: 1rem 0rem 1rem 1rem;
}
.add-container input[type=text] {
  margin: 0rem 1rem 3rem 1rem;
  padding: 0 0 0 1rem;
  width: 98%;
  height: 40px;
  font-size: 26px;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
}
.toolbar {
  width: 96%;
  margin: 0rem 0rem 0rem 1rem;
  padding: 10px 15px;
  background-color: #f1f1f1;
  border-bottom: 2px solid rgb(35, 32, 65);
}
.toolbar button {
  /* margin-top: 1rem; */
  padding: 5px 10px;
  background-color: #f1f1f1;
  color: #888;
  border: none;
}
.toolbar button:hover {
  background-color: rgb(35, 32, 65);
  color: #f1f1f1;
  cursor: pointer;
}
.add-container textarea {
  display: inline-block;
  margin: 0rem 1rem 1rem 1rem;
  padding: 1rem;
  width: 95.7%;
  border: none;
  background-color: #eee;
  color: #444;
  font-size: 16px;
}
.tags {
  width: 100%;
  margin: 1rem 1rem 3rem 1rem;
  background-color: #f1f1f1;
  height: 150px;
  color: #666;
}
.tags h3 {
  font-size: 24px;
  font-weight: 100;
  padding: 10px 20px;
  background-color: rgb(24, 22, 44);
  color: #f1f1f1;
}
.tags input[type=text] {
  width: 150px;
  background-color: #fff;
  margin: 1rem 0rem 1rem 1rem;
  height: 30px;
  font-size: 16px;
}
.tags i {
  display: block;
  margin: 0 1rem;
  font-size: 14px;
}
.new-1 {
  margin-left: 4rem;
  float: right;
  width: 35%;
  margin: 0 1rem;
  /* background-color: #27ae60; */
}
.publish {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.publish ul {
  margin: 1rem 0rem;
}
.publish ul li {
  font-size: 14px;
  list-style: none;
  margin-left: 2.95rem;
  padding: 8px 0px;
}
.publish ul li a span {
  font-weight: 100;
}
.publish button {
  border: none;
  margin-top: 1.5rem;
  margin-left: 2.95rem;
  width: 80px;
  padding: 10px 8px;
  background-color: #2ecc71;
  color: #f1f1f1;
}
.publish button:hover {
  background-color: #27ae60;
  cursor: pointer;
}
#btn-pls {
  margin: 0;
  display: block;
  padding: 1rem 0rem;
  width: 100%;
  background-color: #34495e;
}
#btn-pls:hover {
  background-color: #2c3e50;
  cursor: pointer;
}
